/* Emojis flutuantes */
.emoji-flutuante {
  position: fixed;
  bottom: -40px;
  font-size: 26px;
  pointer-events: none;
  animation: subirEmoji linear forwards;
  z-index: 0;
  opacity: 0.9;
}

@keyframes subirEmoji {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  10% {
    opacity: 0.9;
  }
  100% {
    transform: translateY(-110vh) scale(1.2);
    opacity: 0;
  }
}